body {
  margin: 0px;
  padding: 0px;
}

div { 
  width: 250px; /*바깥 여백 제거*/
  height: 50px; /*안쪽 여백 제거*/

  display: flex; /*해당 div를 Flexbox 컨테이너로 만든다는 의미 내부 요소들을 일렬로 정렬한다는 의미, 
  이 코드를 사용하지 않으면 label이랑 circle이 일렬로 정렬이 안됨*/
  justify-content: center;
  align-items: center;
}

div.toggle-on {
  width: 54px;
  height: 24px;
  background-color: #00b050; /*초록색*/
  border-radius: 30px;
  display: block; /*위에 명시된 display: flex;를 덮어씌우기 위해서 사용 */
  padding-top: 2px; /*on글자 기준으로 위에 padding을 2px*/
  margin-bottom: 20px;
}

div.toggle-on-label {
  color: white;
  width: 30px;
  height: 24px;
  font-weight: 500; /*font 굵기*/
  font-size: 14px;
  float: left;
}

div.toggle-on-circle {
  width: 22px;
  height: 22px;
  background-color: white;
  margin-left: -20px; /* 왼쪽으로 겹치도록 */
  border-radius: 50%;
}

div.toggle-off {
  width: 58px;
  height: 24px;
  background-color: lightgray;
  border-radius: 30px;
  display: block;
  padding-top: 2px;
  margin-bottom: 20px;
}

div.toggle-off-circle {
  width: 22px;
  height: 22px;
  background-color: white;
  margin-left: 3px; /* 약간 오른쪽에 위치 */
  border-radius: 50%;
  float: left;
}

div.toggle-off-label {
  color: white;
  width: 32px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;
  float: left;
}

div.check-circle {
  width: 32px;
  height: 32px;
  border: 2px solid #999; /*회색*/
  border-radius: 50% 
}

div.checkmark {
  width: 10px;
  height: 16px;
  margin-top: -5px;
  border: solid #999;
  border-width: 0 2px 2px 0; /*위쪽 0, 오른쪽 2, 아래쪽 2, 왼쪽 0 -> 시계 방향으로*/
  transform: rotate(45deg);  /*위에서 설정한 값을 시계 방향으로 45도 회전시키는 코드*/
}

div.triangle1 {
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid rgb(9, 170, 92);
  transform: rotate(90deg);
  margin-left: 50px;
}

div.circle1 {
  width: 100px;
  height: 100px;
  background-color: rgb(9, 170, 92);
  border-radius: 50%;
}

div.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgb(9, 170, 92);
}

div.login {
  background-color: rgb(9, 170, 92);
  color: white;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 10px;
}

div.passkey {
  border: 1px solid rgb(9, 170, 92);
  color: rgb(9, 170, 92);
  font-weight: 600;
  border-radius: 10px;
}