body {
    height: 100vh;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    padding: 50px 0;    
}

.container .heroes {
    display: flex;
    flex-wrap: wrap; /*wrap*/
    /* background-color: orange; */
    justify-content: center; /*heroes를 center로*/
    max-width: 700px; /*700을 초과하면 밑으로 내려감*/
    margin: 0 auto; /* width값이 있고 위-아래는 0, 좌-우는 auto로 하면 중앙정렬 같은 효과가 만들어짐 */
    padding: 40px 20px;
}

.container .heroes .hero { /*각각의 hero를 설정하는 공간*/
    width: 80px;
    height: 84px;
    margin: 4px; /*heroes의 간격을 margin으로 두기*/
    background-color: #555;
    border: 3px solid white;
    transform: skew(-14deg); /*왼쪽으로 14도 기울이는 효과*/
    border-radius: 10px;
    overflow: hidden; /*자식요소가 넘칠 경우 넘친 부분은 보이지 않도록 처리*/
    box-sizing: border-box;
    transition: 
        transform .1s,
        background-color .6s;
}

.container .heroes .hero:hover {
    background-color: #ff9c00;
    transform: scale(1.3) skewX(-14deg); /*hover했을때도 모양유지*/
    z-index: 1;
}
.container .heroes .hero .image {
    width: 140%; /*.hero의 140%로 설정*/
    height: 100%;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat; /*배경 이미지가 반복되지 않도록 설정, 하나의 이미지만 중앙에 보임*/
    transform: translateX(-16px) skewX(14deg); /*요소를 왼쪽으로 16px이동, x축 방향으로 14도 기울기*/
}

.container .heroes .hero:nth-child(1) .image {background-image: url("./images/hero1.png");}
.container .heroes .hero:nth-child(2) .image {background-image: url("./images/hero2.png");}
.container .heroes .hero:nth-child(3) .image {background-image: url("./images/hero3.png");}
.container .heroes .hero:nth-child(4) .image {background-image: url("./images/hero4.png");}
.container .heroes .hero:nth-child(5) .image {background-image: url("./images/hero5.png");}
.container .heroes .hero:nth-child(6) .image {background-image: url("./images/hero6.png");}
.container .heroes .hero:nth-child(7) .image {background-image: url("./images/hero7.png");}
.container .heroes .hero:nth-child(8) .image {background-image: url("./images/hero8.png");}
.container .heroes .hero:nth-child(9) .image {background-image: url("./images/hero9.png");}
.container .heroes .hero:nth-child(10) .image {background-image: url("./images/hero10.png");}
.container .heroes .hero:nth-child(11) .image {background-image: url("./images/hero11.png");}
.container .heroes .hero:nth-child(12) .image {background-image: url("./images/hero12.png");}
.container .heroes .hero:nth-child(13) .image {background-image: url("./images/hero13.png");}
.container .heroes .hero:nth-child(14) .image {background-image: url("./images/hero14.png");}
.container .heroes .hero:nth-child(15) .image {background-image: url("./images/hero15.png");}
.container .heroes .hero:nth-child(16) .image {background-image: url("./images/hero16.png");}
.container .heroes .hero:nth-child(17) .image {background-image: url("./images/hero17.png");}
.container .heroes .hero:nth-child(18) .image {background-image: url("./images/hero18.png");}
.container .heroes .hero:nth-child(19) .image {background-image: url("./images/hero19.png");}
.container .heroes .hero:nth-child(20) .image {background-image: url("./images/hero20.png");}
.container .heroes .hero:nth-child(21) .image {background-image: url("./images/hero21.png");}
.container .heroes .hero:nth-child(22) .image {background-image: url("./images/hero22.png");}
.container .heroes .hero:nth-child(23) .image {background-image: url("./images/hero23.png");}
.container .heroes .hero:nth-child(24) .image {background-image: url("./images/hero24.png");}
.container .heroes .hero:nth-child(25) .image {background-image: url("./images/hero25.png");}
.container .heroes .hero:nth-child(26) .image {background-image: url("./images/hero26.png");}
.container .heroes .hero:nth-child(27) .image {background-image: url("./images/hero27.png");}
.container .heroes .hero:nth-child(28) .image {background-image: url("./images/hero28.png");}
.container .heroes .hero:nth-child(29) .image {background-image: url("./images/hero29.png");}
.container .heroes .hero:nth-child(30) .image {background-image: url("./images/hero30.png");}
.container .heroes .hero:nth-child(31) .image {background-image: url("./images/hero31.png");}
.container .heroes .hero:nth-child(32) .image {background-image: url("./images/hero32.png");}

.container .logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .logo img {
  width: 100%; /*300px*/
}
